.header {
  color: #000099;
  background-color: #99ccff;
  border-radius: 40px;
  text-align: center;
}

.column {
  width: 400px;
  float: left;
  margin: 0 10px 0 10px;

}

.column1 {
  background-color: #ff9966;
  border-radius: 20px 0 0 20px;
}

.column2 {
  background-color: #99ccff;
  border-radius: 0 20px 20px 0;
}

.next-entry {
  padding-top: 10px;
  float: left;
}

p {
  padding: 10px 20px 0 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

@media screen and (max-width: 480px) and (min-width: 300px){
  body {
    background-color: black;
  }
  
  .column {
    width: 150px;
  }

  h3 {
    color: aqua;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px){
  body {
    background-color: yellow;
  }

  .column {
    width: 300px;
  }

}