.header {
  color: blue;
  background-color: teal;
}

.column1 {
  background-color: pink;
  width: 400px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.column2 {
  background-color: teal;
  width: 400px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

img {

} {

}