.header {
  color: blue;
  background-color: teal;
}

.column1 {
  background-color: purple;
  width: 400px;
  float: left;
}

.column2 {
  background-color: blue;
  width: 400px;
  float: left;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

img {

} {

}